<div markdown="1">
<custom-img-compare>
    <div class="img-compare-container">
      <img class="img-compare-before" src="{{ include.before }}" alt="Before Image" />
      <img class="img-compare-after" src="{{ include.after }}" alt="After Image" />
      <div class="img-compare-slider">
        {% comment %} <i class="fa-solid fa-arrows-left-right"></i> {% endcomment %}
        <i class="fa-solid fa-arrows-left-right fa-xl"></i>
      </div>
      <div class="img-compare-divider"></div>
    </div>
  </custom-img-compare>
</div>